html, body{
  height: 100%;
  font-family: "montserrat", "Helvetica", "Arial", sans-serif !important;
}

/* Some quick font styles */

a, p, h1, h2, h3{
  color: #333;
  text-decoration: none;
}

#root{
  background: #fff;
  height: 100%;
  overflow: auto;
}

main{
  background: #fff;
  overflow: hidden;
  padding-bottom: 20px;
}